.form{
    width: 100%;
     min-width: 300px; 
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 10px;
    background-color: rgb(37 47 114 / 85%);
    border-radius: 5px;
    box-shadow: 1px 1px 20px 1px #00266ac7;}

.form p,span{
    font-size: 20px;
    padding: 6px 0;
    color: azure;
}
.form input, .form textarea{
    font-size: 15px;
    padding: 5px 5px;
}
.form textarea{
    margin-bottom: 15px;
    height: 90px;
}
.form button{
    width: max-content;
    font-size: 18px;
    border-radius: 8px;
    padding: 5px 25px;
    background-color: rgb(42, 128, 240);
    color: azure;
}
.form button:hover{
    cursor: pointer;
    background-color: rgba(239, 118, 255, 0.596);
}