.contenedor{
    background-color: azure;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-direction: column;
}
.contenedor div{
    margin-top: 3px;
}
h2,p{
    font-size: 15px;
    
}
.eliminar{
    
   
    font: -webkit-control;
    
}
.eliminar:hover{
    cursor: pointer;
    
    font: caption;
}